<% layout('layout') -%>
<style> 
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 98%;
    height: 550px;
    
}

.flex-item {
   
    width: 260px;
    height: 300px;
    margin: 5px;
 border: .5px solid ;
}

.cflex-item {
   
    width: 60%;
    height: 550px;
    margin: 5px;
 border: .5px solid ;
}
</style>

<div class="flex-container" ng-controller='benefiterCtrl'>
  <div class="flex-item"> Benefiter Presonal Info </div>
  
  <div class="cflex-item">

<form>
  <div class="form-group">
    <textarea type="text" class="form-control" id="description" placeholder="description"></textarea>
    <input type="text" class="form-control" id="tag" placeholder="tag">
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  
  </div>
  
  <div class="flex-item">Other Info</div>
</div>