<% layout('layout') -%>
<div ng-controller='benefiterCtrl'>

</div>
<p> Welcome {{user.user.firstName}} {{user.user.lastName}} is benefiter </p>

<a href="/logout" class="btn btn-default btn-flat">Sign out</a>