<% layout('layout') -%>

<div>
<a href="/login">
<img src="asset/Donor.jpeg" alt="Donor" class="img-rounded" style="width: 200px;">
</a>
<a href="/login">
<img src="asset/beni.png" alt="Benefiter" class="img-rounded" style="width: 200px;">
</a>


</div>
